body {
  text-align: center;
  font-size: 30px;
}

header {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
  align-content:center;
}

.cat-card {
  margin: 10px 10px;
}

.cat-name {
  margin: 10px 0px;
}

img {
  width: 300px;
  cursor: pointer;
}

.click-status {
  margin: 10px 0px;
}

#click-num {
  font-size: 40px;
  color: rgb(242, 140, 19);
}
